<!DOCTYPE html><html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Tadagraph.com: Message from {{created_by_nickname}}</title>
</head>
<body>
  <style>
    body {
      padding: 7px;
      background: #595959;
      font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: white;
      white-space: normal;
      word-break: break-all;
    }
    a {
      color: #6EC9FF;
    }
    img.avatar {
      -webkit-box-shadow: #333 0px 1px 3px;
      float: left;
      margin-right: 12px;
    }
  </style>
  <img src="{{image}}" class="avatar" width="48" height="48" title="{{created_by_nickname}}" />
  {{{body}}}
  <div style="clear: both"></div>
</body>
</html>
